.account-content{
    text-align: center;
    min-height: 100vh;
}
.top-bg{
    background-color: #203239;
    height: 250px;
}

.main-content{
    min-height: 800px;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    background-color: #EEEDDE;
    padding: 120px;
    font-family: Poppins;
}

.main-content img{
    position: absolute;
    top: 0;
    transform: translateY(-50%);
    width: 200px;
    border: 5px solid #FF7527;
    border-radius: 50%;
}

#username {
    font-size: 52px;
}

#location {
    font-weight: 200;
}

#accountType {
    text-transform: uppercase;
    text-decoration: underline;
}

.following-followers{
    display: flex;

}

.vr{
    border: 2px solid currentColor;
    height: 90px;
    align-self: center;
    margin-bottom: 10px;
}

.following-followers h2{
    color: #6C6C6C;
    font-weight: 200;
}

.following-followers h1{
    font-weight: 600;
}