body {
    font-family: Poppins, "Sans Serif";
    min-height: -webkit-fill-available;
}

.content {
    display: flex;
    background-color: #EEEDDE;
}

.sidebar {
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
    height: -webkit-fill-available;
    max-height: calc(-90px + 100vh);
    position: fixed;
}

.sidebar .top {
    margin-top: -20px;

}

.main-content {
    /* height: 550px; */
    width: 100%;
    padding: 10px 20px;
    margin-left: 230px;
    display: block;
}

#separator-footer {
    height: 10px;
    background-color: rgba(32, 50, 57, 0.55);
    margin: 0;
}


footer {
    background-color: #203239;
    width: 85%;
    height: 69px;
    display: flex;
    justify-content: space-between;
    margin-left: 210px;
    margin-right: 0;
    padding-left: 50px;
    position: absolute;
    right: 0;
}


footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#social-media a {
    margin-right: 30px;
}

.product-disp {
    /* display: flex; */
    /* justify-content: space-between; */
    width: 90%;
    box-sizing: border-box;

}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.col {
    margin: 10px 40px;
    border-radius: 25px;
    width: 50%;
    padding: 15px;
    height: 400px !important;
}

.wrapper button {
    background: none;
    border: none;
}

.product-reg {
    background-color: rgba(255, 117, 39, 0.5);
    margin: 10px 40px;
    border-radius: 25px;
    width: 80%;
    padding: 15px;
    height: 400px !important;
}

.product-under {
    background-color: rgba(255, 117, 39, 0.5);
    border: 10px solid red;
    margin: 10px 40px;
    border-radius: 25px;
    width: 80%;
    padding: 15px;
    height: 400px !important;
}

.category {
    text-decoration: underline;
    font-size: 15px;
    font-weight: bold;
}

.category a {
    color: #224972;
}

.product-title {
    /* color: black; */
    font-weight: 600;
}

.product-exp {
    background-color: rgba(32, 50, 57);
    color: white !important;
    margin: 10px 40px;
    border-radius: 25px;
    width: 80%;
    padding: 15px;
    height: 400px !important;
}

.product-img {
    text-align: center;
    margin: 10px 0;
}

.product-img img{
    width: 155px;
    border: 4px solid black;
    border-radius: 5px;
}

.buy-now {
    margin-top: 10px;
}