.settings-content {
  min-height: 500px;
}

.settings-left {
  text-align: left;
  width: max-content;
  flex: 1;
}

.settings-right {
  flex: 1.3;
  padding: 0 10%;
}

.settings-left ul {
  list-style: none;
  margin: 0;
  margin-top: 30px;
  padding: 0;
}

.settings-left ul li {
  margin-top: 30px;
}
.settings-left ul li a {
  text-decoration: none;
  color: #203239;
  font-size: 32px;
}

.settings-right > h1 {
  font-size: 2rem;
  margin-bottom: 1em;
}

.settings-right p {
  margin-top: 20px;
}

.btn-toggle {
  width: 100%;
  background-color: #C4C4C4;
  border-radius: 100vmax;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-toggle:focus {
  box-shadow: none !important;
}

.card-body {
  text-align: justify;
}

.btn-toggle i {
  font-size: 1.3rem;
  transition: all 0.5s;
}

.btn-toggle.activated i {
  -webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	transform: rotate(180deg);
}